
.form-container {
    margin: auto;
    border-top: none;
    border-bottom: none;
}

.movie-container {
    border-top: none;
    border-bottom: none;
    padding: 100px;
}

table {
    border-collapse: collapse;
    padding: 30px;
    margin: auto;
    width: 300px;
    color: rgb(2, 41, 71);
}

th {
    color: rgb(2, 41, 71);
    font-size: 30px;
    border-bottom: 1px solid #ddd;
    background-color: #d6dbc8;
}

td {
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #d6dbc8;

}
