.form-container {
    background-color: rgba(255, 166, 0, 0.705);
    display: flex;
    flex-flow: column nowrap;
}

form {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 300px;
}

input {
    margin: 6px;
}

.add-button {
    padding: 30px;
    text-align: center;
}

.add-button:hover {
    text-shadow: 0 0 5px white;
    text-decoration: underline white;
}

.done-button {
    width: fit-content;
    margin: 5px;

}
