body {
    margin: 0;
}

button {
    font-size: 25px;
}

.buttonContainer {
    margin: 30px auto ;
    width: fit-content;
}

.themeButton {
    outline: none;
    border-radius: 10px;
}

.headerContainer {
    margin: auto;
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

ul {
    list-style: circle;
}

.footerContainer {
    text-align: center;
}