header {
    color: #F3F9E3;
    text-align: right;
    padding: 20px;
}

h1 {
    border-radius: 100;
    margin: auto;
    width: fit-content;
    padding-top: 35px;
    text-shadow: 0px 0px 30px #ffffff98;
}